:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  background-color: rgb(230, 241, 237);
  display: flex;
  flex-direction: column;
}
a {
  display: block;
  text-decoration: none;
  height: 100%;
  color: black;
}
a:hover {
  cursor: zoom-in;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

img:hover {
  transform: scale(1.03);
}

.containerSearch {
  display: flex;
  justify-content: center;
  padding: 3px;
  margin-bottom: 30px;
}
.load-more {
  width: 120px;
  justify-content: center;
  padding: 10px;
  background-color: #6ceee6;
  margin: 0 auto;
  border-color: #6ceee6;
  cursor: pointer;
}

body button {
  display: flex;
  background-color: #6ceee6;
  border-radius: 5px;
  border-color: #6ceee6;
  cursor: pointer;
}

.search-form input {
  border-radius: 5px;
  border-color: rgb(216, 226, 226);
}

.search-form {
  display: flex;
}

.gallery {
  padding-top: 50px 0px 0px 0px;
  display: grid;
  max-width: 1600px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 450px));
  /* grid-auto-rows: 360px; */
  grid-gap: 30px;
  justify-content: center;

  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
}
.photo-card {
  background-color: #e0ebf5;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.is-hidden {
  display: none;
}
